@font-face {
  font-family: Lampung Suarnadipa;
  src: url(/assets/fonts/SuarnadipaLampung.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Lampung Kaganga;
  src: url(/assets/fonts/kaganga.ttf) format("truetype");
  font-display: swap;
}

.lampung-suarnadipa {
  font-family: "Lampung Suarnadipa", sans-serif;
}

.lampung-kaganga {
  font-family: "Lampung Kaganga", sans-serif;
}
