# ...setup deno and run `deno test` here as you normally would...

- name: Get tag version
  if: startsWith(github.ref, 'refs/tags/')
  id: get_tag_version
  run: echo TAG_VERSION=${GITHUB_REF/refs\/tags\//} >> $GITHUB_OUTPUT
- uses: actions/setup-node@v3
  with:
    node-version: '18.x'
    registry-url: 'https://registry.npmjs.org'
- name: npm build
  run: deno run -A ./build_npm.ts ${{steps.get_tag_version.outputs.TAG_VERSION}}
- name: npm publish
  if: startsWith(github.ref, 'refs/tags/')
  env:
    NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  run: cd npm && npm publish
